﻿@media (max-width: 1280px) {
  #profile .pt-respon {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
    -webkit-flex-direction: column !important;
    -ms-flex-direction: column !important;
    flex-direction: column !important;
    -webkit-box-flex: 1 !important;
    -webkit-flex: 1 1 100% !important;
    -ms-flex: 1 1 100% !important;
    flex: 1 1 100% !important;
    max-width: 100% !important; } }

#profile .price-tables {
  margin-bottom: 48px; }
  #profile .price-tables .price-table {
    min-width: 32.4% !important;
    flex: 1 1 32.4%;
    max-width: 32.4%; }

#profile .margin-zero {
  margin: 0 0 0 3px !important; }

#profile .myaboleft {
  min-width: 100% !important;
  padding: 15px;
  min-height: 228px; }
  #profile .myaboleft ul.abomy {
    font-size: 12px;
    font-weight: 500;
    color: #B5B5B5;
    width: 97%;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 3px; }
    #profile .myaboleft ul.abomy li {
      padding-bottom: 20px; }
      #profile .myaboleft ul.abomy li .planchosen {
        margin-left: 15px;
        display: inline-block;
        font-size: 15px;
        color: #039BE3;
        padding-bottom: 8px;
        padding-top: 5px; }
        #profile .myaboleft ul.abomy li .planchosen span {
          width: 120px;
          display: inline-table; }
        #profile .myaboleft ul.abomy li .planchosen md-button {
          height: 20px;
          color: #84B05B !important; }

#profile .myaboright {
  min-width: 100% !important;
  padding: 15px;
  margin-top: 15px;
  min-height: 228px; }
  #profile .myaboright .aboadditional {
    color: #B5B5B5;
    font-size: 12px;
    font-weight: 500;
    margin-top: 3px; }
  #profile .myaboright ul.abopack {
    width: 97%;
    padding-left: 0px;
    font-size: 15px;
    font-weight: 500;
    color: #039BE3;
    list-style-type: none;
    margin-top: 7px; }

#profile .invoices {
  min-width: 100% !important;
  padding: 10px;
  min-height: 500px; }
  #profile .invoices v-pane v-pane-content {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 4px;
    color: #3b3b3b;
    width: 400px;
    list-style-type: none;
    padding-left: 0px;
    margin-top: 3px; }
    #profile .invoices v-pane v-pane-content .planchosen {
      margin-left: 15px;
      display: inline-block;
      font-size: 15px; }
      #profile .invoices v-pane v-pane-content .planchosen .invoicebutton {
        color: #039BE3 !important;
        text-transform: none;
        display: inline-table;
        margin-left: 1px; }
      #profile .invoices v-pane v-pane-content .planchosen span {
        width: 150px;
        display: inline-table; }
    #profile .invoices v-pane v-pane-content .deletetext {
      margin-left: 15px;
      display: inline-block;
      font-size: 15px; }
      #profile .invoices v-pane v-pane-content .deletetext .invoicebutton {
        color: #e3522c !important;
        text-transform: none;
        display: inline-table;
        float: right;
        margin-top: 15px; }
      #profile .invoices v-pane v-pane-content .deletetext span {
        width: 100%;
        display: inline-table; }
      #profile .invoices v-pane v-pane-content .deletetext md-select {
        margin-top: -7px; }

#profile .profile-box md-tabs .panel-body {
  margin: 0;
  min-height: 451px; }
  #profile .profile-box md-tabs .panel-body ul {
    padding: 0; }
    #profile .profile-box md-tabs .panel-body ul li {
      list-style: none;
      width: 25%;
      display: inline-table;
      padding-bottom: 20px; }
      #profile .profile-box md-tabs .panel-body ul li .contactplan {
        width: 90px;
        margin: 0 auto; }
        #profile .profile-box md-tabs .panel-body ul li .contactplan .avatar {
          width: 50px;
          height: 50px;
          margin: 0 auto;
          display: block; }
        #profile .profile-box md-tabs .panel-body ul li .contactplan .name {
          padding-top: 10px;
          display: block;
          width: 90px;
          text-align: center; }

#profile .profile-box md-tabs span.plantab {
  transition: all ease-out 0.2s;
  color: #ffffff !important;
  text-transform: none;
  font-size: 12.5pt; }
  #profile .profile-box md-tabs span.plantab:active, #profile .profile-box md-tabs span.plantab:focus, #profile .profile-box md-tabs span.plantab:hover, #profile .profile-box md-tabs span.plantab:visited {
    transition: all ease-out 0.2s;
    opacity: 0.7; }

#profile .profile-box md-tab-item.md-tab.ng-scope.ng-isolate-scope.md-ink-ripple {
  padding: 10px 24px; }

