﻿td {
  width: 20%; }

td:first-child {
  width: 10%; }

#profile header.addusr {
  padding: 0 16px;
  height: 55px; }
  #profile header.addusr .title {
    font-size: 17px;
    display: inline-flex; }
    #profile header.addusr .title .groupovrvw {
      margin-left: 15px; }
  #profile header.addusr .add-file-button.inhead {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 10px; }

#profile .detailbox {
  padding-left: 15px; }
  @media all and (max-width: 980px) {
    #profile .detailbox {
      padding-left: 0; } }

