﻿td {
  width: 20%; }

td:first-child {
  width: 10%; }

#profile .name {
  display: inline-block; }

#profile header {
  padding: 16px; }
  #profile header .title {
    font-size: 17px; }

#profile .simple-table-container {
  min-height: 76px; }
  #profile .simple-table-container .table-title {
    font-size: 17px; }

table.userstable tbody td {
  padding-top: 3px;
  padding-bottom: 3px; }

#sub-user {
  padding: 15px;
  height: auto; }
  #sub-user .sub-panel-body {
    min-width: 100% !important;
    padding: 10px 0;
    min-height: 378px; }
    #sub-user .sub-panel-body ul {
      padding: 0; }
      #sub-user .sub-panel-body ul li {
        list-style: none;
        width: 25%;
        display: inline-table;
        padding-bottom: 20px; }
        #sub-user .sub-panel-body ul li .handle {
          width: 90px;
          margin: 0 auto; }
          #sub-user .sub-panel-body ul li .handle .avatar {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            display: block; }
          #sub-user .sub-panel-body ul li .handle .name {
            padding-top: 10px;
            display: block;
            width: 90px;
            text-align: center; }

#sub-group {
  padding: 15px;
  height: auto; }
  #sub-group .sub-panel-body {
    min-width: 100% !important;
    padding: 10px 0;
    min-height: 378px; }
    #sub-group .sub-panel-body ul {
      padding: 0; }
      #sub-group .sub-panel-body ul li {
        list-style: none;
        width: 25%;
        display: inline-table;
        padding-bottom: 20px; }
        #sub-group .sub-panel-body ul li .handle {
          width: 90px;
          margin: 0 auto; }
          #sub-group .sub-panel-body ul li .handle .avatar {
            width: 50px;
            height: 50px;
            margin: 0 auto;
            display: block; }
          #sub-group .sub-panel-body ul li .handle .name {
            padding-top: 10px;
            display: block;
            width: 90px;
            text-align: center; }

