<md-dialog class="add-user" aria-label="Add User">
    <form class="md-inline-form" name="userform" novalidate>
        <md-toolbar class="md-accent md-hue-2">
            <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
                <span class="title">Add User</span>
                <md-button class="md-icon-button" ng-click="vm.closeDialog()" aria-label="Close dialog">
                    <md-icon md-font-icon="icon-close"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content ms-scroll>
          
            <md-input-container class="md-block">
                <label>User name</label>
                <input ng-model="firstName" type="text" name="firstName" required>
                <label class="error" for="firstName" ng-show="(userform.firstName.$dirty || userform.$submitted) && userform.firstName.$error.required">User name is mandatory!</label>
            </md-input-container>
            <md-button ng-click="addUser(firstName)" style="float: right" type="submit" class="md-primary md-raised">
                Add
            </md-button>
            <md-button ng-click="closeDialog()" style="float: right" type="submit" class="md-primary md-raised">
                Cancel
            </md-button>
        </md-dialog-content>

    </form>
</md-dialog>
