<div id="profile" class="page-layout simple tabbed"> 
    <!-- HEADER -->
    <div class="header md-accent-bg" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="space-between end">
        <div class="user-info" layout="column" layout-align="center center" layout-gt-sm="row" layout-align-gt-sm="start center">
            <img class="avatar huge" src="assets/images/avatars/alice.jpg">
            <md-icon md-font-icon="" class="icon-person-plus changepic" ng-click="vm.uploadProfilePictureDialog()">
            </md-icon>
            <div class="name">Maxi Muster</div>
        </div>
        <md-button style="margin-bottom: -35px" ng-if="active == true" class="add-file-button md-fab md-warn" ng-click="vm.AddAccountDialog($event)" aria-label="Add account">
            <md-icon md-font-icon="icon-plus"></md-icon>
        </md-button>
    </div>
    <!-- / HEADER -->
    <!-- CONTENT -->
    <div class="content" flex="">

        <md-tabs md-dynamic-height="">
            <md-tab ng-click="active = false">
                <md-tab-label>
                    <span>ABOUT</span>
                </md-tab-label>
                <md-tab-body>                    
                    <md-content class="about-tab" ng-include="'app/profile/tabs/about/about.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-click="active = false">
                <md-tab-label>
                    <span>PLAN</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="abo-tab" ng-include="'app/profile/tabs/abo/abo.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-click="active = false">
                <md-tab-label>
                    <span>USER</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="abo-tab" ng-include="'app/profile/tabs/user/user.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-click="active = false">
                <md-tab-label>
                    <span>GROUPS</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="abo-tab" ng-include="'app/profile/tabs/group/group.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-click="active = false">
                <md-tab-label>
                    <span>PERMISSIONS</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="abo-tab" ng-include="'app/profile/tabs/permissions/permissions.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>
            <md-tab ng-click="active = true">
                <md-tab-label>
                    <span>SOCIAL MEDIA ACCOUNTS</span>
                </md-tab-label>
                <md-tab-body>
                    <md-content class="abo-tab" ng-include="'app/profile/tabs/socialaccounts/social-accounts.html'">
                    </md-content>
                </md-tab-body>
            </md-tab>
        </md-tabs>

    </div>
    <!-- / CONTENT -->

</div>