﻿#profile header.addgrp {
  padding: 0 16px;
  height: 55px; }
  #profile header.addgrp .title {
    font-size: 17px;
    display: inline-flex; }
    #profile header.addgrp .title .groupovrvw {
      margin-left: 15px; }
  #profile header.addgrp .add-file-button.inhead {
    height: 50px;
    width: 50px;
    margin-top: 30px;
    margin-right: 10px; }

#profile table.userstable tbody td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding: 32px;
}

#profile md-card.nowhiteframe {
  box-shadow: none; }

#profile md-card span.md-headline {
  margin-top: -20px;
  padding-bottom: 15px; }

#profile md-card .info-line {
  padding-top: 20px; }
  #profile md-card .info-line .title {
    font-size: 12px;
    font-weight: 500;
    padding-bottom: 4px;
    color: #B5B5B5;
    display: inline-table;
    width: 150px; }
  #profile md-card .info-line .info {
    font-size: 15px;
    line-height: 30px;
    display: inline-table; }

#profile .detailbox {
  padding-left: 15px; }
  @media all and (max-width: 980px) {
    #profile .detailbox {
      padding-left: 0; } }

