<div layout="row" layout-wrap>
    <div class="cummunity" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="65" style="padding-bottom: 20px;">
        <zm-profile-user></zm-profile-user>
    </div>
    <div class="about-sidebar detailbox" layout="column" flex="100" flex-gt-sm="50" flex-gt-md="33">
        <zm-profile-user-detail></zm-profile-user-detail>
    </div>
</div>
<!--<zm-profile-user></zm-profile-user>-->